/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: 'Kaushan Script', cursive;
  --ff-secondary:'Philosopher', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  line-height: 1.5;
  margin-left: 1.5rem;
  /* font-size: 0.875rem; */
  background:#FFFC6D url("images/main.png");
  background-size: 25%;
  background-position: center center;
  background-attachment: fixed;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 0;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
.secondary{
  font-family: var(--ff-secondary);
}
.header{
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
}
.heading{
  max-width: 90vw;
  padding: 2rem;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.heading h3{
  font-size: 1.5rem;
  align-self: end;
  padding: 2rem;
  color: var(--clr-grey-3);
}
.silver{
  color: #989898;
}
.heading h1{
  font-size: 2.1rem;
  font-weight: bold;
  color: #F93512;
}
@media screen and (min-width:768px) {
  .heading h3{
    font-size: 2.5rem;
  }
  .heading h1{
    font-size: 4.5rem;
  }
}
@media screen and (min-width:968px) {
    .heading h3{
      font-size: 4.25rem;
    }
    .heading h1{
      font-size: 7.25rem;
    }
}
.section{
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto 1fr;
  margin-bottom: 8rem;
}
.section h2{
  color: var(--clr-grey-3);
}
.img-info{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: auto;
  color: #F93512;
}
.couple-img{
 max-width: 40vw;
}
.couple-img img{
  max-width: 100%;
}
.info h3{
  font-size: 1.5rem;
}
.info p{
  color: var(--clr-grey-3);
}
.main-info{
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}
.sc{
  color: #F93512;
}
.imp-info{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  row-gap: 1.5rem;
}
.imp-info p{
  font-size: 1.5rem;
}
.imp-info h1{
  font-size: 2rem;
  margin-bottom:0;
}
.imp-info h2{
  font-size: 1.75rem;
  margin-bottom:0 ;
}
#mt{
  line-height: 2rem;
}
.underline{
  text-decoration: underline;
}
.more-info{
  padding: 1.25rem;
  margin: auto;
}
.info{
  text-align: center;
  margin: auto;
}
.info p{
  font-size: 2rem;
}
.info div{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto 1fr;
}
.tag{
opacity: 0;
transform: translate(0, 10vh);
transition: all 1s;
}

.tag.visible {
opacity: 1;
transform: translate(0, 0);
}
.info-animation{
  opacity: 0;
transform: translate(10vh, 0);
transition: all 1s;
}
.info-animation.visible-animation{
    opacity: 1;
    transform: translate(0, 0);
    
}
.map{
  max-width: 100vw;
  margin: 1rem auto;
  /* padding: 2rem; */
}
.main-map iframe{
  max-width: 100%;
  height: auto;
}
